<MsgReceipt xmlns="http://defra.bcms.ctws/asynchronous_receipt" SchemaVersion="{{ schemaVersion }}" ProgramName="{{ programName }}" ProgramVersion="{{ programVersion }}" ResponseTimeStamp="{{ responseTimeStamp }}"><Receipt Num="{{ receiptNum }}"/></MsgReceipt>
